*.vo
*.vos
*.vok
*.glob
*.aux
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.d
*.a
*.o
*~
.lia.cache
clean
sql_query_to_js.ml
sql_query_to_js.mli
dbcert
dbcert.byte
_CoqProject
qcert
dbcert-*

_build/
.depend.extr
Makefile.coq
Makefile.coq.conf
eval_sql_query.ml
eval_sql_query.mli

